@import "./themes.css";

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url('fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src: url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

body {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;

	color: var(--fg);
	background-color: var(--bg);
}
