@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url('fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src: url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;
	font-size: 20px;

	color: var(--fg);
	background-color: var(--bg);

	/* transition: background 0.25s ease-in-out, color 0.5s ease-in-out; */
}

body {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

:root {
	--bg: #f5f5f5;
	--fg: #3a3a3a;
	
	--sbg: white;

	--shadow: rgba( 0, 0, 0, 20%);
}

.theme_dark {
	--bg: #19171a;
	--fg: #d8dee9;
	
	--sbg: black;
	
	--accent: #61b0f1;
	--shadow: rgba( 255, 255, 255, 20%);
}